.header img{
    height:80px;
    margin-left:600px;
    margin-top:20px;
}
.header nav{
    text-decoration: none;
    background-color: black;
    padding:20px;
    font-size: 25px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;

}
nav a:hover{
    background-color:green;
}